.audio-player {
    width: 100%;
    min-width: 300px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
    padding: 0 12px;
  }
  .audio-player .play-pause-btn {
    display: none;
    cursor: pointer;
  }
  .audio-player .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
  }
  .audio-player .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
  }
  .audio-player .slider .progress {
    background-color: #0275d8;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
    overflow: visible;
  }
  .audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #0275d8;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
    z-index: 100;
  }
  
  .audio-player .controls .slider .progress .pin {
    height: 24px;
  }

  .audio-player .slider .player-cache {
    width: 100%;
    height: 3px;
    position: relative;
    top: 8px;
    cursor: default;
}

.audio-player .player-cache .cache-bar {
  background-color: rgb(138, 207, 168);
  position: absolute;
  height: 3px;
}
  
  .audio-player .controls {
    font-family: 'sans-serif';
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
  }
  .audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 4px;
    height: 8px;
  }
  .audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
  }
  .audio-player .controls .slider .progress .pin {
    right: -8px;
    top: -9px;
  }
  .audio-player .controls span {
    cursor: default;
  }
  .audio-player .volume {
    position: relative;
  }
  .audio-player .volume .volume-btn {
    cursor: pointer;
  }
  .audio-player .volume .volume-btn.open path {
    fill: #0275d8;
  }
  .audio-player .volume .volume-controls {
    z-index: 99;
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .audio-player .volume .volume-controls.hidden {
    display: none;
  }
  .audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
  }
  .audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
  }
  .audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
  }
  
  .audio-player svg, .audio-player img {
    display: block;
  }

  .audio-player .loading {
    display: none;
  }

  .audio-player .controls .current-time {
    display: block;
    width: 3.5em;
    text-align: right;
  }

  @keyframes spin {
    from {
      transform: rotateZ(0);
    }
    to {
      transform: rotateZ(1turn);
    }
  }