html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

#main {
    overflow-y: scroll;
    height: calc(100% - 61px);
}

#player {
    height: 56px;
    padding-top: 5px;
}

#player audio {
    width: 100%;
}

#subfolders-container, #files-container, #info-container {
    display: none;
}

.expanded {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='12px' height='16px' viewBox='0 0 12 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etriangle-down%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='triangle-down' fill='%23000000'%3E%3Cpolygon id='Shape' points='0 5 6 11 12 5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.2em;
    cursor: pointer;
}

.collapsed {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='6px' height='16px' viewBox='0 0 6 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etriangle-right%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='triangle-right' fill='%23000000'%3E%3Cpolygon id='Shape' points='0 14 6 8 0 2'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}

.download {
    display: block;
    width: 1.1em;
    height: 1.2em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.852 100'%3E%3Cpath d='M78.281 2.444H57.887v34.393h15.04L45.595 61.521 19.116 36.837h14.648V2.444H13.762S.189 2.444.189 16.017v70.409S.189 100 13.762 100h64.519s13.572 0 13.572-13.574V16.017s0-13.573-13.572-13.573zm1.385 80.494H13.213V56.426h8.682v17.83h49.087v-17.83h8.684v26.512z' stroke='%23007bff' fill='%23007bff'/%3E%3C/svg%3E"); 
    background-size: cover;
  }

.folder-download {
    display: block;
    float: right;
}
  

.content-section {
    clear: both;
}

#info-cover {
    min-width: 160px;
    min-height: 160px;
    max-width: 300px;
    max-height: 424px;
    margin-right: 1em; 
    margin-bottom: 1em;
}

@media (min-width: 740px) {
    #info-cover {
        float: left;
    }
}

#info-desc {
    display: inline;
    min-width: 300px;
}
  
  

#search-area {
  padding-top: 0.4em;
  padding-left: 0.1em;
  font-size: 0.5em;
  height:0.5em;
  float:right;
  margin:0 0.5em;
}

#recent-btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

#recent-area {
    margin-top: 0;
    margin-left: 0.2em;
    float: right;
}

.duration, .bitrate {
  margin-left: 1em;
  font-size: 70%
}

h1.top-header {
    min-height: 1.2em;
}

nav.main-breadcrumb {
    clear: both;
}

span.transcoded {
    margin-left: 0.5em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='14px' height='16px' viewBox='0 0 14 16' version='1.1' id='svg2' inkscape:version='0.91 r13725' sodipodi:docname='pulse.svg'%3E%3Cmetadata id='metadata15'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1865' inkscape:window-height='1056' id='namedview13' showgrid='false' inkscape:zoom='14.75' inkscape:cx='7' inkscape:cy='8' inkscape:window-x='55' inkscape:window-y='24' inkscape:window-maximized='1' inkscape:current-layer='svg2' /%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle id='title4'%3Epulse%3C/title%3E%3Cdesc id='desc6'%3ECreated with Sketch.%3C/desc%3E%3Cdefs id='defs8' /%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' style='fill:%23b3b3b3'%3E%3Cg id='pulse' fill='%23000000' style='fill:%23b3b3b3'%3E%3Cpolygon id='Shape' points='11.5 8 8.8 5.4 6.6 8.5 5.5 1.6 2.38 8 0 8 0 10 3.6 10 4.5 8.2 5.4 13.6 9 8.5 10.6 10 14 10 14 8' style='fill:%23b3b3b3' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      
  }

.top-header .transcoded {
    margin-left: -0.2em;
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

.app-name {
    font-weight: bold;
}

  
.list-group-item {
    overflow: hidden
}

#splash.transparent {
    background-color: rgba(0, 0, 0, 0);
  }
  

#collections {
    display:none;
    font-size: 0.5em;
    width: 48%;
    float: right;
    vertical-align: middle;
    margin-top: 0.4em;
    text-align: right;
}

#collections label {
    font-weight: bold;
    font-size: 120%;
}

#player .controls .current-time, #player .controls .total-time {
    cursor: pointer;
}
.menu-top-right {
    display: block;
    float: right;
    width: 0.5em;
    height: 1em;
    margin-left: 0.5em;
    padding-top: 0.1em;
}

.menu-top-right .nav-link {
    padding: 0;
    margin: 0;
}

.menu-top-right .dropdown-item, .menu-top-right .dropdown-header {
    font-size: 150%;
}

.menu-top-right .dropdown-menu a, .menu-top-right .dropdown-menu a input, .menu-top-right .dropdown-menu a label {
    cursor: pointer;
}
.menu-button:before {
    content: '\2807';
    font-size: 1em;
    
    }

span.title {
    display: block;
}

span.subtitle {
    font-size: 80%;
    font-style: italic;
}

@media (max-width: 1024px) {
    h1.top-header {
        font-size: 1.6rem;
    }

    #recent-area {
        margin-top: 5px;
    }


}

@media (max-width: 770px) {
    #collections {
        float: none;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 360px) {
    #search-area input {
        width: 12em;
    }
}


  