html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
}

#main {
    overflow-y: scroll;
    height: calc(100% - 61px);
}

#player {
    height: 56px;
    padding-top: 5px;
}

#player audio {
    width: 100%;
}

#subfolders-container, #files-container, #info-container {
    display: none;
}

.expanded {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='12px' height='16px' viewBox='0 0 12 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etriangle-down%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='triangle-down' fill='%23000000'%3E%3Cpolygon id='Shape' points='0 5 6 11 12 5'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 1.2em;
    cursor: pointer;
}

.collapsed {
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='6px' height='16px' viewBox='0 0 6 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Etriangle-right%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='triangle-right' fill='%23000000'%3E%3Cpolygon id='Shape' points='0 14 6 8 0 2'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}

.download {
    display: block;
    width: 1.1em;
    height: 1.2em;
    margin-right: 6px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Svg Vector Icons : http://www.onlinewebfonts.com/icon --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23007bff' d='M924.3,700.4v222.3c0,37.3-30.2,67.4-67.4,67.4H143c-37.2,0-67.4-30.1-67.4-67.4V700.4c0-37.2,30.2-67.4,67.4-67.4c37.2,0,67.4,30.2,67.4,67.4v154.9h579.2V700.4c0-37.2,30.2-67.4,67.4-67.4C894.2,633,924.3,663.2,924.3,700.4z M452.4,758.1c13.2,13.2,30.4,19.7,47.6,19.7c17.3,0,34.5-6.6,47.7-19.7l202-202c26.4-26.3,26.4-68.9,0-95.2c-26.3-26.3-69-26.3-95.2,0l-87,87.1V77.4c0-37.2-30.1-67.4-67.4-67.4c-37.2,0-67.4,30.2-67.4,67.4v470.6l-87.1-87.1c-26.3-26.3-69-26.3-95.2,0c-26.3,26.3-26.3,69,0,95.2L452.4,758.1z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
  }
  

.position-sync {
    display: none;
    float: right;
    width: 1.3em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg version='1.1' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Cmetadata%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'/%3E%3Cdc:title/%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cpath d='m0 19' fill='%23006fd1' fill-rule='evenodd'/%3E%3Cg transform='matrix(2.1138 0 0 2.0847 -17.889 -27.831)' fill='%23007bff' fill-rule='evenodd'%3E%3Cpath d='m16 26c2.419 0 4.4367-1.7178 4.9-4h2.0291c-0.48523 3.3923-3.4026 6-6.9291 6-2.4445 0-4.5963-1.253-5.8482-3.1518l-1.1518 1.1518v-1-2-1h0.070889 2.0291 1.9l-1.3919 1.3919c0.8481 1.5539 2.4969 2.6081 4.3919 2.6081z'/%3E%3Cpath d='m20.9 20h-0.89998-1l1.3919-1.3918c-0.84807-1.5539-2.4969-2.6082-4.3919-2.6082-2.419 0-4.4367 1.7178-4.9 4h-2.0291c0.48523-3.3923 3.4026-6 6.9291-6 2.4445 0 4.5963 1.253 5.8483 3.1518l1.1517-1.1517v3.9999h-0.07089z'/%3E%3C/g%3E%3Cpath d='m11.134 9.4892v13.9l12.183-7.0864c-4.0716-2.1992-7.5388-4.4979-12.183-6.8139z' fill='%23007bff' fill-rule='evenodd' stroke-width='0'/%3E%3C/svg%3E");
}

.folder-download {
    display: block;
    float: right;
}
  

.content-section {
    clear: both;
}

#info-cover {
    min-width: 160px;
    min-height: 160px;
    max-width: 300px;
    max-height: 424px;
    margin-right: 1em; 
    margin-bottom: 1em;
}

#recent-positions .folder {
    font-style: italic;
}

@media (min-width: 740px) {
    #info-cover {
        float: left;
    }
}

#info-desc {
    display: inline;
    min-width: 300px;
}
  
  

#search-area {
  padding-top: 0.4em;
  padding-left: 0.1em;
  font-size: 0.5em;
  height:0.5em;
  float:right;
  margin:0 0.5em;
}

#recent-btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

#recent-area {
    margin-top: 0;
    margin-left: 0.2em;
    float: right;
}

#recent-positions {
    margin-bottom: 0.5em;
}

.duration, .bitrate {
  margin-left: 1em;
  font-size: 70%
}

h1.top-header {
    min-height: 1.2em;
}

nav.main-breadcrumb {
    clear: both;
}

span.transcoded {
    margin-left: 0.5em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8' standalone='no'?%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='14px' height='16px' viewBox='0 0 14 16' version='1.1' id='svg2' inkscape:version='0.91 r13725' sodipodi:docname='pulse.svg'%3E%3Cmetadata id='metadata15'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1865' inkscape:window-height='1056' id='namedview13' showgrid='false' inkscape:zoom='14.75' inkscape:cx='7' inkscape:cy='8' inkscape:window-x='55' inkscape:window-y='24' inkscape:window-maximized='1' inkscape:current-layer='svg2' /%3E%3C!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle id='title4'%3Epulse%3C/title%3E%3Cdesc id='desc6'%3ECreated with Sketch.%3C/desc%3E%3Cdefs id='defs8' /%3E%3Cg id='Octicons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' style='fill:%23b3b3b3'%3E%3Cg id='pulse' fill='%23000000' style='fill:%23b3b3b3'%3E%3Cpolygon id='Shape' points='11.5 8 8.8 5.4 6.6 8.5 5.5 1.6 2.38 8 0 8 0 10 3.6 10 4.5 8.2 5.4 13.6 9 8.5 10.6 10 14 10 14 8' style='fill:%23b3b3b3' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      
  }

.top-header .transcoded {
    margin-left: -0.2em;
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

.app-name {
    font-weight: bold;
}

  
.list-group-item {
    overflow: hidden
}

#splash.transparent {
    background-color: rgba(0, 0, 0, 0);
  }
  

#collections {
    display:none;
    font-size: 0.5em;
    width: 48%;
    float: right;
    vertical-align: middle;
    margin-top: 0.4em;
    text-align: right;
}

#collections label {
    font-weight: bold;
    font-size: 120%;
}

#player .controls .current-time, #player .controls .total-time {
    cursor: pointer;
}
.menu-top-right {
    display: block;
    float: right;
    width: 0.5em;
    height: 1em;
    margin-left: 0.5em;
    padding-top: 0.1em;
}

.menu-top-right .nav-link {
    padding: 0;
    margin: 0;
}

.menu-top-right .dropdown-item, .menu-top-right .dropdown-header {
    font-size: 150%;
}

.menu-top-right .dropdown-menu a, .menu-top-right .dropdown-menu a input, .menu-top-right .dropdown-menu a label {
    cursor: pointer;
}
.menu-button:before {
    content: '\2807';
    font-size: 1em;
    
    }

span.title {
    display: block;
}

span.subtitle {
    font-size: 80%;
    font-style: italic;
}

@media (max-width: 1024px) {
    h1.top-header {
        font-size: 1.6rem;
    }

    #recent-area {
        margin-top: 5px;
    }


}

@media (max-width: 770px) {
    #collections {
        float: none;
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 360px) {
    #search-area input {
        width: 12em;
    }
}


  