language: rust
services:
  - docker
rust:
  - stable
  - beta
  - nightly
before_install: 
  - sudo add-apt-repository -y ppa:mc3man/trusty-media
  - sudo apt-get -qq update
  - sudo apt-get install -y  openssl libssl-dev libbz2-dev zlib1g-dev ffmpeg yasm
#cache: cargo
script:
  - cargo test --verbose --features partially-static,transcoding-cache
  - cargo test --verbose --no-default-features --features partially-static
matrix:
  fast_finish: true
  allow_failures:
  - rust: nightly
  include:
    - language: node_js
      node_js:
      - "7"
      cache:
        directories:
        - "client/node_modules"
      script:
      - cd client
      - npm install
      - npm run build
deploy:
  - provider: script
    script: 
      - bash docker_push.sh
    on:
      branch: master
      tags: true
      rust: stable
  - provider: releases
    api_key:
      secure: f8yw+q4hWcKg4LwUFZNcAJ110HqpFIPipEoKPCvfB8Q+Ht97boYeJsgP+aIllKq9rssRvVrMscqCj9pcx6bdCRV5aFWR3ek4NaE+2gfQ4Qi8RHR85sZ+qcH9bzO0GRnf8NjX49kq3F6tzn+cc8HWzdUESwQxG0E/svw7dSTolhVqdeDE8/S89mDoGVcu0GxuFMvYbOiu8H0yyXcyimkrQsdWuZQxOKhlKJsDI6dJ3wPmupRDyqRt7m7Wjyvt9ismRI4g9y2EGzEzG207mRVvjs0Zea8lopee8LpKraBAUjQ/EVtrXWfzyS3CczHNztZViNMZXvhcpzuJsOaHYM8YdjN7zESesDoHDKXWczy+je8kU1N9QWhjJ7UqJolhnHo65w4LBnO6DWKrrQjvZ2bSXMhM6UPXgsoLSImMRB8/fDu2kcBtIkGGfXS/5BTLSq8/st1hggTqoCrfAnupMBshSSd6DFgmv/HM7L7/S51b/1Umy2C5hLTc72nIV5uIMxe4/yCB5C/oPmluK25rPcsKA8TXreAZRkyhsoILyp04H0JXGgBu2U6RW4ZNlQeA8MXOngLomQpbXZB3PsezymxMbUF4KVmNWm3F3+dNYTFcCpgQTQ6NatHK6/RVm6u7QO+kBrZKWXYOFq0oC74bjrq34JlRVXlAw8HRSthKRIyW1dc=
    before_deploy:
      - bash build_static.sh
    file: _static_build/audioserve_static_v0.9.1.tar.gz
    skip_cleanup: true
    on:
      branch: master
      tags: true
      rust: stable


