name: Release version

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  audioserve-build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Build image
      run: docker build --tag izderadicka/audioserve .
    - name: Publish image
      run: |
        docker login -u ${{secrets.DOCKERHUB_USER}} -p ${{secrets.DOCKERHUB_PASSWORD}}
        docker push izderadicka/audioserve
  build-static:
    runs-on: ubuntu-24.04
    needs: audioserve-build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Build static Binary
        run: |
          ./build_static.sh
      - name: Release static binary tar
        uses: softprops/action-gh-release@v2
        #if: startsWith(github.ref, 'refs/tags/')
        with:
          files: _static_build/audioserve_static.tar.gz